[submodule "RARM-mk1"] 
  path = Projects/rarm/RARM-mk1
  url = https://github.com/aCoder1123/RARM-mk1

[submodule "WordleTools"] 
  path = Projects/wordle/WordleSolver
  url = https://github.com/aCoder1123/WordleTools